---
layout: layouts/base.njk
---


<div class="wrapper flow">
 <div class="breakit"><img src="img/tropic-border.png">
  </div>
  <section class="intro flow">
  <h4>It's Time to Celebrate</h4>
    <div class="betrothed breakit">
  <h1 class="name">The Chastards</h1>
      <img class="scotia" src="img/scotia.png">
      <img class="peter" src="img/peter.png">
    </div>
</section>

  <section class="flow">
<ul class="reset nav ">
  <li><a href="#info">When / Where?</a></li>
  <li><a href="#reception">Expectations</a></li>
  <li><a href="#registry">Gift Registry</a></li>
    <li><a href="#rsvp">RSVP</a></li>
</ul>
    <div class="breakit">
<img src="img/engagement-surf.jpg">
      </div>
  </section>

<section id="info">
  <div class="whenwhere breakit">
    <span class="when-text"><strong>6:30 PM</strong> <br>October 10th, 2021 </span>
    <span class="where-text"><strong>"The Pit"</strong><br> @ 2547B Lā-'ī Rd</span>
  </div>
</section>


  <section id="reception" class="big-space">
    <div class="white-bg">
  <h3>Expectations</h3>
    <img class="section-deco" src="img/banana-leaf.png">
    </div>
    <div class="frame flow">
  <h2>We need you for the celebration 🎉🥂</h2>
      <p>The wedding ceremony will be a very exclusive affair—wedding party only. But we would still <em>love</em> for you to join us at the reception.</p>
      <p>Here's (probably) everything you need to know about it:</p>
    <p><strong>MENU:</strong> Fixed</p>
    <p><strong>BAR:</strong> Open(ish)</p>
    <p><strong>DRESS:</strong> Supes caszh</p>
      <div>
</section>

<section id="registry" class="big-space">
  <div class="white-bg">
  <h3>Gift Registry</h3>
  <img class="section-deco" src="img/banana-leaf.png">
  </div>
  <div class="frame flow">
  <h2>No 🎁s allowed!</h2>
  <p>We already have everything we need from you: love, friendship, support, unlimited access to your pickup trucks. If you absolutely must spend money on something, feel free to donate to <a class="text-link" href="https://826national.org/donate/">826 New Orleans</a>.</p>
  <div><a href="https://826neworleans.org/donate/"><button class="learn-more">DONATE HERE</button></a></div>
</section>

   <section id="rsvp" class="big-space">
     <div class="white-bg">
  <h3>RSVP</h3>
    <img class="section-deco" src="img/banana-leaf.png">
     </div>
     <div class="frame flow">
  <h2>❌ Don't bother ❌</h2>
  <p class="quote">"We're just going to assume that you'll be there. If you don't show up, you're dead to us" - Scotia</p>
     </div>
</section>

  <section id="footer">
    <p>Engagement photo and editing by <a class="text-link" href="https://www.pukele.com/">Pukele Designs</a>
</section>

</div>
